<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

<label> Nouveau film </label>
<input type="text" ng-model="nouveauFilm" />
<a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Ajouter un film<span class="glyphicon glyphicon-ok"></a>
<button class="btn btn-primary" ng-click="nbrAffiche=nbrAffiche+5">+ 5</button>
<!--<p> {{nouveauFilm}}</p>-->
<!--<p> Hello <span ng-bind="nouveauFilm"></span></p>-->

<!--<input type="checkbox" ng-model="active">-->
<!--<input Type="number" ng-model="nbrAffiche">-->

<div ng-show="active">
	<ul>
		<li ng-repeat ="el in awesomeThings | limitTo:nbrAffiche track by $index"> {{el | uppercase}} <a ng-click="remove(el)"> <span class="glyphicon glyphicon-remove"> </a></li>
	</ul>
</div>


<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
