<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

<div class="row">
	<div class="col-sm-4">
		<label> Titre film </label>
	</div>
	<div class="col-sm-8">
		<input type="text" ng-model="nouveauFilm" /><br></br>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<label> Commentaire pour ce film </label>
	</div>
	<div class="col-sm-8">
		<input type="text" ng-model="commFilm" />
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Ajouter un film<span class="glyphicon glyphicon-ok"></a>
	</div>
	<div class="col-sm-8">
		<button class="btn btn-primary" ng-click="nbrAffiche=nbrAffiche+5">+ 5</button>
	</div>
</div>


<!--<p> {{nouveauFilm}}</p>-->
<!--<p> Hello <span ng-bind="nouveauFilm"></span></p>-->

<!--<input type="checkbox" ng-model="active">-->
<!--<input Type="number" ng-model="nbrAffiche">-->

<div ng-show="active">
	<ul>
		<li ng-repeat ="el in listFilm | limitTo:nbrAffiche track by $index"> {{el.titre | uppercase}} {{el.comment}}<a ng-click="remove(el)"> <span class="glyphicon glyphicon-remove"> </a></li>
	</ul>
</div>

